body{
    background-color: rgb(220, 203, 131);
}
<<<<<<< HEAD
/* Buttons go here */
=======

#Day{
    border-radius: 10px;
}

>>>>>>> cb80277598ec021799faced428eb8925de190ee3
#EN{
    border-radius: 10px;
}

#ED{
     border-radius: 10px;
}

#ET{
     border-radius: 10px;
}
/* /Buttons*/

.Week{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, 60px);

    text-align: center;

    border: 3px solid red;
    height: 500px;
    font-weight: bold;
    font-size: 120%;
}
<<<<<<< HEAD

div{
    border: 4px solid green;

}
=======
>>>>>>> cb80277598ec021799faced428eb8925de190ee3
